.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami{
    border-radius: 20px;
    background-color: cornflowerblue;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: fantasy;
}